<!-- Footer Start -->
<div class="container-fluid footer bg-dark text-body py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="footer-item">
                    <h4 class="mb-4 text-white">Address</h4>
                    <p class="mb-4">Sri govindharaja swamy devasthanma foundation,
                        Jagadigir gutta, Hyderabad
                        </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="footer-item">
                    <h4 class="mb-4 text-white">Contact</h4>
                    <p class="mb-2">+91 8143477307</p>
                    <p class="mb-2">+91 8686658856</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="footer-item">
                    <h4 class="mb-4 text-white">Email</h4>
                    <p class="mb-4">info@govindharajaswamydevasthanamfundation.com</p>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="mt-3">
    <p class="text-center">Copyrights reserved @ govindharajaswamydevasthanam</p>
</div>
<!-- Footer End -->