<app-header></app-header>
<main>
  <section class="main-section pad-70">
     <div class="headline">
        <span></span>
        <!-- <h1>Welcome!</h1> -->
     </div>
     <img ngSrc="/assets/img.jpeg" width="669" height="536"/>
  </section>
  <!-- <section class="benefit-section pad-70">
    <section class="benefit-data">
      <h2>
        95% das<br>
        empresas
      </h2>
    </section>
    <p>não sabem lidar com a <b>escalabilidade</b> da aplicação.</p>
  </section> -->
  <!-- <section class="cta-section">
    <btn-primary
      btn-text="fale com especialistas"
    ></btn-primary>
  </section>
  <newsletter-form></newsletter-form> -->
</main>
