<div class="container-fluid fixed-top px-0">
    <div class="container px-0">
        <div class="topbar">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <div class="topbar-info d-flex flex-wrap">
                        <a href="#" class="text-light me-4"><i class="fas fa-envelope text-white me-2"></i>
                            info@govindharajaswamydevasthanamfundation.com</a>
                        <a href="#" class="text-light"><i class="fas fa-phone-alt text-white me-2"></i>8143477307/ 8686658856</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="topbar-icon d-flex align-items-center justify-content-end">
                        <a href="#" class="btn-square text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light navbar-expand-xl">
            <a href="index.html" class="navbar-brand ms-3">
                <p class="text-primary mt-3">SRI GOVINDHA RAJA SWAMY VARI DEVASTHANAM</p>
            </a>
            <button class="navbar-toggler py-2 px-3 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-light" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="['']" class="nav-item nav-link">Home</a>
                </div>
                <div class="d-flex align-items-center flex-nowrap pt-xl-0" style="margin-left: 15px;">
                    <a href="" class="btn-hover-bg btn btn-primary text-white py-2 px-4 me-3">Donate Now</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">Terms & Conditions</h3>
        <!-- <p class="fs-5 text-white mb-4">Help today because tomorrow you may be the one who needs more helping!</p>    -->
    </div>
</div>
<div class="container-fluid gallery py-5 px-0 mt-5">
    <div class="mx-auto pb-5" style="max-width: 1250px;">
        <h3 class="text-uppercase text-primary">Terms & Conditions</h3>
        <h5 class="mb-4">Last updated on 28-10-2024 19:51:23 </h5>
        <!-- <h5>Dear Devotees,</h5> -->
        <p class="mb-3">These Terms and Conditions, along with privacy policy or other terms (“Terms”) constitute a binding
            agreement by and between GOVINDHARAJA SWAMY DEVASTHANAM FOUNDATION, (
            “Website Owner” or “we” or “us” or “our”) and you (“you” or “your”) and relate to your use of our
            website, goods (as applicable) or services (as applicable) (collectively, “Services”).
            </p>
        <p class="mb-3">By using our website and availing the Services, you agree that you have read and accepted these Terms
            (including the Privacy Policy). We reserve the right to modify these Terms at any time and without
            assigning any reason. It is your responsibility to periodically review these Terms to stay informed of
            updates</p>
        <p class="mb-3"><b>The use of this website or availing of our Services is subject to the following terms of use:</b></p>
        <p class="mb-3">To access and use the Services, you agree to provide true, accurate and complete information to us
            during and after registration, and you shall be responsible for all acts done through the use of your
            registered account.</p>

        <p class="mb-3">To access and use the Services, you agree to provide true, accurate and complete information to us
            during and after registration, and you shall be responsible for all acts done through the use of your
            registered account.</p>
        <p class="mb-3">Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
            performance, completeness or suitability of the information and materials offered on this website
            or through the Services, for any specific purpose. You acknowledge that such information and
            materials may contain inaccuracies or errors and we expressly exclude liability for any such
            inaccuracies or errors to the fullest extent permitted by law.</p>
        <p class="mb-3">Your use of our Services and the websiteis solely at your own risk and discretion.. You are
            required to independently assess and ensure that the Services meet your requirements.</p>
        <p class="mb-3">The contents of the Website and the Services are proprietary to Us and you will not have any
            authority to claim any intellectual property rights, title, or interest in its contents.
            </p>
        <p class="mb-3">You acknowledge that unauthorized use of the Website or the Services may lead to action against
            you as per these Terms or applicable laws.
            </p>
        <p class="mb-3">You agree to pay us the charges associated with availing the Services.</p>
        <p class="mb-3">You agree not to use the website and/ or Services for any purpose that is unlawful, illegal or
            forbidden by these Terms, or Indian or local laws that might apply to you.</p>
        <p class="mb-3">You agree and acknowledge that website and the Services may contain links to other third party
            websites. On accessing these links, you will be governed by the terms of use, privacy policy and
            such other policies of such third party websites</p>
        <p class="mb-3">You understand that upon initiating a transaction for availing the Services you are entering into a
            legally binding and enforceable contract with the us for the Services.</p>
        <p class="mb-3">You shall be entitled to claim a refund of the payment made by you in case we are not able to
            provide the Service. The timelines for such return and refund will be according to the specific
            Service you have availed or within the time period provided in our policies (as applicable). In case
            you do not raise a refund claim within the stipulated time, than this would make you ineligible for
            a refund.</p>
        <p class="mb-3">Notwithstanding anything contained in these Terms, the parties shall not be liable for any failure to
            perform an obligation under these Terms if performance is prevented or delayed by a force majeure
            event.</p>
        <p class="mb-3">These Terms and any dispute or claim relating to it, or its enforceability, shall be governed by and
            construed in accordance with the laws of India</p>
        <p class="mb-3">All disputes arising out of or in connection with these Terms shall be subject to the exclusive
            jurisdiction of the courts in Hyderabad, Telangana
            </p>
        <p class="mb-3">All concerns or communications relating to these Terms must be communicated to us using the
            contact information provided on this website.</p>
    </div>

    
</div>