body {
  font-family: Poppins, sans-serif;
}

/* .card-number {
    font-size: var(--erp-fs-14);
    font-weight: var(--erp-fw-400);
} */
.fs_14{
    font-size:var(--erp-fs-14) ;
}
.fw_400{
    font-weight: var(--erp-fw-400);

}
.black_color{
  color: var(--erp-text-color);
}
.fs_22{
    font-size:var(--erp-fs-22) ;
}
.fw_600{
    font-weight: var(--erp-fw-600);
}
.Totalearning:hover {
  transform: translateY(-7px);
}
.orders:hover {
  transform: translateY(-7px);
}
.customers:hover {
  transform: translateY(-7px);
}
.my-balance:hover {
  transform: translateY(-7px);
}


.Totalearning{
    transition:all 0.3s linear;
    /* box-shadow: 0px 5px 0px 5px solid var(--erp-gray-color); */
 }
 .Totalearning:hover{
     transform: translateY(-7px);
 }
 .orders{
 
     transition:all 0.3s linear;
       
  }
  .orders:hover{
      transform: translateY(-7px);
  }
  .customers{
 
     transition:all 0.3s linear;
       
  }
  .customers:hover{
      transform: translateY(-7px);
  }
  .my-balance{
 
     transition:all 0.3s linear;
       
  }
  .my-balance:hover{
      transform: translateY(-7px);
  }
.card-title {
  color: var(--erp-text-color) !important;
}

.card-text {
  color: var(--erp-text-color) !important;
}

.card-link {
    color: var(--erp-link-color) !important;
  font-size: var(--erp-fs-13);
  padding-top: 15px;
  text-decoration: underline;
}
.fs-16{
    font-size: var(--erp-fs-16)
}

.card-imgs {
  width: 50px;
  height: 50px;
}

.phone {
  width: 50px;
  height: 50px;
}

.card-colr {
  color: var(--erp-text-mute);
}

.bookmark-icon {
  width: 12px;
  color: var(--erp-green-700);
}
