/* .btn_primary {
    background-color: var(--erp-sidebar-color);
} */

/* .btn_primary:hover {
    color: var(--erp-card-color);
} */

.fs-s {
    font-size: var(--erp-fs-s);

}
.fs-16{
    font-size: var(--erp-fs-16)
}